<template>
    <div>
        <div class="card" @click="handleClick()">
            <div v-if="cardImage.open && !cardImage.similar" class="opened" >
                <img :src="require(`../assets/${cardImage.img}`)" />
            </div>
            <div v-else-if="cardImage.open && cardImage.similar">
               <div class="transparent-box" />
            </div>
            <div v-else class="closed">
                <img :src="require(`../assets/AvalancheLogo.jpg`)"  />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
       props:{
           cardImage: Object,
       },
        methods: {
            handleClick: function () {
                this.$emit('clickCard', this.cardImage)
            },
        }
    }
</script>

<style>
    .card, .transparent-box {
        position: relative;
        display: inline-block;
        width: 150px;
        height: 150px;
        margin: 0.5em;

    }
    .card img {
        width:100%;
        border-radius: 10px;
        animation:none;
    }
    .opened, .closed {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .transparent-box {
        background-color: gray;
        opacity: 0.5;
        border-radius: 10px;
        margin: 0;
    }
</style>
