<template>
    <div id="timer">
        <span class="time_title">Time : </span>
        <span class="time">{{ minutes }}</span>
        <span class="separator">:</span>
        <span class="time">{{ seconds }}</span>
    </div>
</template>

<script>
    export default {
        props :[ 'minutes', 'seconds'],
    }
</script>

<style scoped>
    #timer{
        padding: 30px;
        text-align: center;
    }
    .time {
        background-color: #000;
        color: #fff;
        border-radius: 4px;
        padding: 10px;
        text-align: center;
        font-weight: 400;
        margin: 10px
    }
    .time_title{
        color:#000;
        font-weight: bold;
    }
    .separator {
        color:#000;
        padding: 0 2px;
        font-size: 28px;
    }
</style>