<template>
    <Drawer @close="toggle" :align="align" :closeable="true" >
        <div v-if="this.open">
            <table class="col no-gutters table-responsive">
                <tbody>
                    <tr class="leaderboard_head">
                        <td class="ranking_head">
                            Ranking
                        </td>
                        <td >
                          Username
                        </td>
                        <td>
                           score
                        </td>
                    </tr>
                    <template  v-for="(item, index) in users"  >
                        <tr v-if="item.score !==0" v-bind:key="item.id" class="player">
                        <td class="ranking_inner">
                           {{index+1}}
                        </td>
                        <td class="username_inner">
                            {{ item.username}}
                        </td>
                        <td>
                            {{item.score}}
                        </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </Drawer>
</template>

<script>
    import Drawer from "vue-simple-drawer"
    export default {
        name: 'LeaderBoard',
        props: {
            open: Boolean,
            users: Array
        },
        components:{
            Drawer
        },
        data() {
            return {
                align: "right"
            };
        },
        methods: {
            toggle() {
                this.$emit("toggle-drawer", false);
            },
        },
    }

</script>
<style scoped>
     tr {
        background-color: #292c33;
    }

    tbody tr {
        height: 33px;
        text-align: center;
    }

    .leaderboard_head td {
        box-shadow: inset 0 -1px 0 rgb(0 0 0 / 20%);
    }

    .ranking_head {
        text-align: center;
        width: 10%!important;
        background-color: #232427;
    }
    img {
        width: 48px;
        height: 48px;
    }
    .user td{
        color:white
    }
</style>