<template>
    <div class="playGround">
        <Counter :minutes="minutes" :seconds="seconds" />
        <div v-if="matchedCards < 8" class="cards-box">
            <Cards class="cards"
                   v-for= "(cardImage, imageIndex) in CardImages"
                   :key= "imageIndex"
                   :cardImage="cardImage"
                   @clickCard= "FlipCard"
            />
        </div>
        <div v-else class="empty" />
        <div class="restart" @click="RestartGame">
            <img :src="require(`../assets/restart.png`)" alt="logo"/>
        </div>
    </div>
</template>
<script>
  import Cards from './Cards.vue';
  import Counter from './Counter.vue';
  import axios from 'axios';
  import qs from 'qs';

  export default {
    name: 'Playground',
    components: {
      Cards,
      Counter
    },
    props: {
        CurrentUser:{}
    },

     data: () => {
      return {
          timer: null,
          startTime: 0,
          gameStarted: false,
          CardImages:[],
          openedCards : [], // keep the two open cards
          matchedCards: 0, // keep the number of matched card
      }
    },
      mounted () {
          axios //get card images
              .get('http://localhost:3000/api/v1/assets')
              .then(response => {
                  this.CardImages = response.data,
                  this.RandomCards(this.CardImages)
              });
      },

      watch: {
          'matchedCards': {
              handler: function (matchedCards) {
                  if(matchedCards >=8) {
                    this.EndGame()
                  }
              },
              deep: true
          }
      },

      computed: {
          minutes: function() {
              const min = Math.floor(this.startTime / 60);
              return (min < 10 ? '0' : '') + min;
          },
          seconds: function() {
              const sec = this.startTime - (this.minutes * 60);
              return (sec < 10 ? '0' : '') + sec;
          },
      },

      methods:{

      // generate random cards before show and after restart game
          RandomCards: function (CardImages) {
              this.CardImages = [];
              for(let i = CardImages.length - 1; i > 0; i--) {
                  let randomIndexCard = Math.floor(Math.random() * i);
                  let temp = CardImages[i];
                  CardImages[i] = CardImages[randomIndexCard];
                  CardImages[randomIndexCard] = temp;
              }
              this.CardImages =  CardImages

          },

          // start timer
          startTimer: function() {
              this.timer = setInterval(() =>  this.startTime++, 1000);
          },

          // the card was flipped
          FlipCard: function(cardImage) {
              if(this.openedCards.length === 0 || !this.gameStarted){
                  this.startTimer();
                  this.gameStarted = true
              }
              if (this.openedCards.length < 1) {
                      cardImage.reversed = true;
                      this.CardImages.forEach((element) => {
                          if (element.id === cardImage.id) {
                              element.open = true;
                              this.openedCards.push(cardImage);
                              return
                          }
                      })
                  } else if (this.openedCards.length < 2) {
                  this.CardImages.forEach((element) => {
                      if (element.id === cardImage.id) {
                          element.open = true;
                          this.openedCards.push(cardImage);
                          if (cardImage.img === this.openedCards[0].img) {
                              element.open = true;
                              element.similar = true;
                              this.matchedCards++;
                              this.openedCards[0].similar = true;
                          }
                          return
                      }
                  })
              } else {
                  this.openedCards.forEach((element) => {
                          if (!element.similar) {
                              element.open = false;
                          }
                      })
                  this.CardImages.forEach((element) => {
                      if (element.id === cardImage.id) {
                          this.openedCards = [];
                          element.open = true;
                          this.openedCards.push(cardImage);
                      }
                  })
              }
        },

          // save score after ending game and reset timer
          EndGame (){
              const time= (Number(this.minutes) * 60) + Number(this.seconds);
              const data = qs.stringify({score: time});
              axios.post('http://localhost:3000/api/v1/users/'+ this.CurrentUser.id , data);
              clearInterval(this.timer);
              this.startTime = 0;
          },

          // restart game
          RestartGame(){
              clearInterval(this.timer);
              this.startTime = 0;
              this.matchedCards = 0;
              this.openedCards = [];
              this.RandomCards(this.CardImages);
              this.CardImages.forEach((element) => {
                  element.similar = false;
                  element.open = false;
              })
          }
      }
  }
</script>

<style scoped>
    .playGround{
        padding: 0 30px;
    }
   .cards {
      display: inline-block;
   }
   .cards-box {
       padding: 15px 340px;
       width: 680px;
   }
   .empty{
      height: calc(100vh - 100px);
   }
   .restart {
       bottom: 20px;
       position: absolute;
       cursor: pointer;
   }
   .restart img {
       width: 50px;
   }
</style>
