<template>
    <div class="modal-mask" v-if="show_modal">
        <div class="modal-container">
            <div class="clearfix">
                <form>
                    <div class="input-field">
                        <input  v-model="userName" type="text" >
                        <label>Please enter your UserName</label>
                    </div>
                    <p class="error">{{ errors }}</p>
                    <a class="form-btn" @click="RegisterUser">Submit</a>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import qs from 'qs';

    export default {
        props: ["show_modal", "CurrentUser"],
        data() {
            return {
                userName: '',
                errors: '',
            }
        },
        methods: {
            closeModal() {
                this.$emit("close_modal", false);
            },
            RegisterUser(e){
                e.preventDefault();
                this.errors = '';
                if (this.userName === '') {
                    this.errors ='User name is required.'
                } else {
                    const data = qs.stringify({username: this.userName})
                    axios.post("http://localhost:3000/api/v1/users", data)
                        .then(response => {this.$emit('SetUserInfo', response.data.success)})
                    this.closeModal();
                }
            }
        },
    }
</script>
<style scoped>

    .modal-mask {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 76%);
    }
    .modal-container {
        width: 25%;
        margin: 200px auto 0;
        padding: 16px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
        box-sizing: border-box;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
    .input-field {
        position: relative;
    }
    input{
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 4rem;
        width: 100%;
        font-size: 16px;
        margin: 10px 0
    }
    .input-field>label {
        color: #585656;
        position: absolute;
        top: 0px;
        font-size: 1rem;
        left: 0;
    }
    .form-btn {
        position: relative;
        float: right;
        cursor: pointer;
        background-color: #009688;
        padding: 10px;
        border-radius: 5px;
        color:white
    }
    img {
        width: 10px;
        float:left;
    }
    .error {
        color: red;
        margin: 0
    }
</style>