<template>
   <div id="app">
       <div class="bg" />
        <img :src="require(`./assets/logo.png`)" alt="logo"/>
        <div class="leader-board" @click="toggle">
          <img :src="require(`./assets/leaderboard.png`)" alt="logo"/>
        </div>
        <span class="user"> {{CurrentUser.username}}</span>
        <LeaderBoard :open="open" :users="users" @toggle-drawer="toggle"/>
        <RegisterModal :CurrentUser="CurrentUser" @SetUserInfo="setUser" :show_modal="showModal" @close_modal="actCloseModal" />
        <Playground :CurrentUser="CurrentUser"/>
   </div>
</template>

<script>
    import Playground from './components/Playground.vue'
    import RegisterModal from './components/RegisterModal.vue'
    import LeaderBoard from "./components/LeaderBoard";
    import axios from 'axios';

    export default {
      name: 'App',
      components: {
        LeaderBoard,
        Playground,
        RegisterModal,
      },
      data() {
        return {
          showModal: false,
          open: false,
          align: "right",
          users: null,
          CurrentUser: {}
        };
      },

      created() {
          this.showModal = true;
      },
      methods: {
          actCloseModal() {
              this.showModal = false;
          },

          toggle() {
            axios
                .get('http://localhost:3000/api/v1/users')
                .then(response =>
                    { (this.users = response.data.sort((a, b) => a.score - b.score )),
                      this.open = !this.open
                    }
                )
          },
          setUser (info) {
              this.CurrentUser = info
          }
      },
    }
</script>

<style scoped>

  .bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background: url('assets/back.jpeg');
      background-size: 100% 100%;
      animation: zoominout 7s infinite
  }
  @keyframes zoominout {
      0% {
          transform: scale(1,1);
      }
      50% {
          transform: scale(1.02,1.02);
      }
      100% {
          transform: scale(1,1);
      }
  }
  img {
      width: 150px;
      float:left;
      padding: 30px;
      animation: none;
  }
  .leader-board {
      display:block;
      width:50px;
      height: 50px;
      border-radius: 50px;
      text-align: center;
      margin: 30px 30px 0 10px;
      background: #fff;
      float:right;
      cursor: pointer;
  }
  .leader-board img {
      width: 30px;
      height: auto;
      padding: 0;
      margin: 7px auto;
      position: relative;
      float: none;
  }
  .user{
      font-weight: bold;
      font-size: 18px;
      padding-top: 45px;
      float: right;
      color: black;
    }
</style>
